body{
    position: absolute;
}

.addTrip {
    margin-left: 1vw;
    margin-top: 5vh;
    margin-right: 5vh;    
    display: inline;


}
#Country{
    color:black;
}
/* #checkbox{
    display: inline;
} */

.checkbox{
    color:black;
    margin-left: -40em;
}
#dataList{
    margin-left: 70vh;
}
#popup{
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: 0.5;
    background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);

}