
body{
   width:100%;
}
#discoverInput{
   margin-top:15vh;
   margin-left: 14vh;
}
#button{
   margin-top: 4em;
}
#text{
  background-color: silver;
  width: 85vw;
  height: auto;
  border-radius: 20px;
      text-align: center;
      -webkit-box-shadow: 0px 0px 30px 11px #ddcdcd;
      box-shadow: 0px 0px 30px 11px #ffffff;
      background-size: cover;
      background-position: center;
      font-family: "Palatino Linotype";
   position: absolute; 
   right:10vw;
   }
   
   .rapTitle{
      background: rgba(255, 255, 255, 0.7); 
      width: 70vw;
      height: auto;
      border-radius: 20px;
          -webkit-box-shadow: 0px 0px 30px 11px #ddcdcd;
          box-shadow: 0px 0px 30px 11px #ffffff;
          background-size: cover;
          background-position: center;
          font-family: "Palatino Linotype";
          font-weight: 400;

       position: absolute; 
         /* opacity: 0.5; */
       right:30vh;
      font-size: 5vh;
         font-family: "Palatino Linotype";
      font-weight: 500;
      margin-left: 20%;
      /* opacity: 0.5; */
      filter: rapTitle(opacity=80);
     margin-bottom: 10vh;
   }
   .rapTitle #title{
   text-align: center;
   opacity: 50;
   font-size: 5vh;
   font-family: "Palatino Linotype";
   font-weight: 500;
   margin-left: 2%;
   /* position: relative; 
   right:25vw; */
  /* margin-bottom: 10vh; */
}


 #box {
   margin-left: 33vw;
margin-bottom: 10vh;
}
.container{
 position: absolute; 
   left:30vw;
  margin-top: 10vh;
}