body{
   width: 100%;
}
.addTrip {
   margin-left: 1vw;
   margin-top: 5vh;
}
.titleMyTrip{
   padding: 2%;
   font-size: 5vh;
}
.Trips {
  display: grid;
  grid-gap: 4vh 3vw;
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  height:90vh;
  width: 90vw;
  border-radius: 20px;
      text-align: center;
      margin-left: 2vw;
       margin-top: 5%;
      /* -webkit-box-shadow: 0px 0px 30px 11px #ddcdcd;  */
      /* box-shadow: 0px 0px 30px 11px #ffffff;      */
}
.trip{
   background-color: silver;
  /* margin-bottom: 2em; */
  width: 90vw;
  height: 70vh;
  border-radius: 20px;
      text-align: center;
      -webkit-box-shadow: 0px 0px 30px 11px #ddcdcd;
      box-shadow: 0px 0px 30px 11px #ffffff;
      /* background-image: url('https://drscdn.500px.org/photo/5600265/m%3D900/v2?sig=460dc03980e40b4f486d233e0be290bba302b245c45b72affaf01505ad8b59b1'); */
      background-size: cover;
      background-position: center;
}
.trip:hover{
  cursor: pointer;
  opacity: 1
}
